@using System.Collections
@using Kendo.Mvc.UI
@using MaterialTracking.Web.Models
@model AssemblyViewModel
@{
    ViewBag.Title = "AssemblyEditor";
}

@{
    ViewContext.FormContext = new FormContext();
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#gridAssembly").data().kendoGrid.options.editable.window.width = "600px";
        $(".k-edit-form-container").css("width", "600px");
    });

</script>

<div style="display: none">
    @(Html.Kendo().TextBoxFor(m => m.AssemblyItemID))
    @(Html.Kendo().TextBoxFor(m => m.Name))
</div>
<table style="width:100%;">
    <tr>
        <td width="100%" valign="top">
            <div class="k-edit-label">
                Assembly Name
            </div>
            <div data-container-for="Name" class="k-edit-field">
                @(Html.Kendo().TextBoxFor(model => model.Name).HtmlAttributes(new { style = "width:300px" }))
                <div id="errorName" class="errorValidationLabel"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="margin:20px;">
                Available Products
            </div>
            <div data-container-for="Products" style="width:250px;margin:20px;">
                @(Html.Kendo().Grid(Model.Products)
                         .Name("gridProduct")
                          .Columns(columns =>
                          {
                              columns.Bound(a => a.Name).Title("Product");
                             // columns.Command(command =>
                             // {
                             //     command.Add();
                             // });
                          })
                 )
                         
            </div>
        </td>
        <td>
            <div style="margin:20px">
                Assembly Products
            </div>
            <div data-container-for="assemblyProducts" style="width:250px;margin:20px;">
                @(Html.Kendo().Grid(Model.AssemblyProducts)
                         .Name("gridProduct")
                          .Columns(columns =>
                          {
                              columns.Bound(a => a.Product.Name).Title("Product").Width(150);
                              columns.Bound(a => a.Quantity).Title("Quantity").Width(100);

                              // columns.Command(command =>
                              // {
                              //     command.Add();
                              // });
                          })
                )
            </div> 
        </td>
    </tr>
</table>


