@using MaterialTracking.Types

@{
    ViewBag.Title = "Product Management";
}
<script>
    function ViewOrderDetails(OrderRequestID) {
        var url = '@Url.Action("EditOrderDetails", "OrderRequest")/' + OrderRequestID;
        window.location = url;
    }

</script>
<div style="height: 100%;">
    @(Html.Kendo().Grid<OrderRequest>()
          .Name("gridModules")
          .Columns(columns =>
          {
              columns.Bound(a => a.OrderRequestID);
              columns.Bound(a => a.DateOrdered);
              columns.Bound(a => a.OrderStatusID);
              columns.Template(@<text></text>).ClientTemplate(
                  "<a href='javascript:ViewOrderDetails(#=OrderRequestID#);' class='k-button k-button-icontext'>View Order Details</a>")
                          .HtmlAttributes(new { style = "text-align:left;" }).Width(180);
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              });
          })
          .ToolBar(tb =>
          {
              tb.Create();
          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Sortable()
          .ColumnMenu()
          .Filterable()
          .AutoBind(true)
          .HtmlAttributes(new { style = "height: 100%;" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model =>
              {
                  model.Id(p => p.OrderRequestID);

              })
              .Read(read => read.Action("OrderRequestSelectAll", "OrderRequest"))
              .Update(update => update.Action("OrderRequestUpdate", "OrderRequest"))
              .Create(create => create.Action("OrderRequestCreate", "OrderRequest"))
              .Destroy(destroy => destroy.Action("OrderRequestDestroy", "OrderRequest")))
    )

    <div>
        <a href='@Url.Action("Index", "OrderDetail")'>Order Details</a>
    </div>

    <div>
        <a href='@Url.Action("Index", "OrderStatu")'>Order Status</a>
    </div>

    <div>
        <a href='@Url.Action("Index", "POOrder")'>PO Orders</a>
    </div>

</div>
